@model GroupHug.Website.Services.Employee
@Model.SamAccountName
@Model.DisplayName
@Model.EmailAddress
<img src="@Model.ImageUrl"  />
<p>
    Upload your photo:</p>
<form action="@Url.Action("Upload", "Home")" enctype="multipart/form-data" method="POST">
<input type="file" name="file" />
<input type="submit" />
</form>
